:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

hr {
  height: 0;
  width: 100%;
  border: transparent;
  border-top: 1px solid #eaeaea;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f6f6f6;
}

#app {
  padding: 16px;
  height: calc(100vh - 32px);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


@for $i from 1 through 12 {
  .gap-#{$i} {
    gap: $i * 4px;
  }
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
